bird_sound_dataset/
esc-50/
.env
birdenv
augmented_dataset/
bird_sound_dataset_preprocessed/
bird_sound_dataset_preprocessed/*
show.md
venv/
benchmark/
__pycache__/
riassunto.md
get_bird_images.py
table
visualize_model.py
present.md
images/
misc/
TASK_LIST.md
TODO
# Python cache files
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Knowledge Distillation outputs
#soft_labels_complete/
#test_soft_labels/
#soft_labels/
#*.pt
#*.pth

# Logs and temporary files
logs/
logs_backup/
#*.log
TODO.md
present.pdf
bird_sound_dataset_preprocessed
bird_sound_dataset_processed
bird_classification_edge_backupsoft_labels_complete/soft_labels.json
soft_labels_complete/soft_labels.json
