bird_sound_dataset/
esc-50/
.env
birdenv
augmented_dataset/
show.md
venv/
__pycache__/
riassunto.md
get_bird_images.py
table
visualize_model.py
present.md
images/
misc/

# Python cache files
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db